.about {
    height: 672px;
    display: flex;

    div {
        padding-left: 300px;
        border-left:  30px solid #E0752F;
        margin-top: 144px;
        margin-bottom: 144px;
        
        
        h2 {
            font-size: 39px; 
            padding-top: 33px;        
        }   
        p {
            font-size: 16px;
            padding-right: 300px;
        }    
    }
   
    

}