.contacto{
    background: linear-gradient(90deg, #f2f4f1 75%, #dce1da 25%);
    height: 768px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

    div{

        div{
            
            h3{
                font-size: 39px;
                margin-bottom: 70px;
                align-items: flex-start;
                
            } 
        }
        
        form{
            font-size: 16px;
            color: #5F6368;
            

         input, textarea{
             outline: none;
             border: 0px;
             border-bottom: 1px solid #5F6368;
             background: transparent;
             margin-top: 0px;
             margin-bottom: 18px;
             
         }
         
           
         button{
             background: #E0752F;
             color: white;
             border-radius: 30px;
             width: 144px;
             height: 48px;
             margin-top: 40px;
             border: 0px;
         }
        }
    }
   
}