.footer{
    background-color: #343434;
    display: flex;
    height: 96px;
    justify-content: space-between;
    align-items: center;

    p{
        color: #DCE1DA;
        margin-left: 101px;
        font-size: 16px;
    }

    a{
        margin-right: 101px;
    }



}