.products{
    height: 768px;
    background: linear-gradient(90deg, #f2f4f1 75%, #dce1da 25%);
    div{
        background: transparent url("../IMAGENES/section3-image.png");

        div{
            background-color: orange;
            p {
                color: white;
            }
            h2{
                color: white;
            }
        }



    }
}