.services{
    height: 768px;
    width: auto;
    background-image: url(../IMAGENES/section4-image.png);
    background-position: right;
    background-repeat: no-repeat;
    align-items: center;
    justify-items: center;
    display: flex;

    .accordion{
        background: white;
        width: 669px;
        height: max-content;
        flex-direction: column;
        margin-left: 101px;
        font-size: 16px;
        
        div{
            h2{
                background: #F8F8F8;
                
                
                button{
                    font-size: 16px;
                    flex-wrap: wrap;
                }
            }
        }

    }

 
}